div.jumpotron.text-center.footer.ft.mt-5
    p Check out #[a(href="https://wiki.retromc.org") RMC wiki] and #[a(href="https://servers.legacyminecraft.com/") Legacy Tracker]
    p Version #[span.version !{process.env.VERSION}]
    p Put together with &#10084; by #[a(href="https://github.com/0xs2" alt="0xs2" title="github") 0xs2] and #[a(href="https://github.com/RhysB" alt="RhysB" title="github") JohnyMuffin]
