nav.navbar.navbar-expand-md.navbar-dark
    a.navbar-brand("href"="../") J-Stats²
    button.navbar-toggler("type"="button","data-toggle"="collapse", "data-target"="#collapsibleNavbar")
        span.navbar-toggler-icon 
    div.collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav.mr-auto 
            li.nav-item 
                a.nav-link("href"="../") Home
            li.nav-item 
                a.nav-link("href"="../chat") Chat
            li.nav-item 
                a.nav-link("href"="../leaderboard") Leaderboard
            li.nav-item 
                a.nav-link("href"="../villages") Villages
        ul.navbar-nav
            li.item 
                form.form-horizontal("method"="","id"="searchForm")
                    div.input-group-prepend
                        input.form-control.bg-dark("id"="search", "required"="true","placeholder"="Username/UUID...","type"="text")